<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>281 - Team 22</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/local.css" />

	<script type="text/javascript" src="/stylesheets/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>   

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>  
	<style type="text/css">
    .scrollit {
        overflow: scroll;
        height: 350px;
    }
    </style>   
</head>

<body ng-app="" ng-controller="loginController" background="/images/db.jpg">
	<div>
		<div class="modal-body row" ng-show="signInPageShow">
			<div class="container im-centered">
			
				<div class="col-md-12">
					<div class="main-well">
						<div class="row text-center main-title">
							<h1> Multi-Tenant System</h1>
						</div>
					</div>
				</div>

			<div class="col-md-6 main">

				<div class="container" id="wrap">
					<div class="row">
						<div class="col-md-4">
							<form method="post" accept-charset="utf-8" class="form" role="form">   <legend>Sign Up</legend>
								<div class="row">
									<div class="col-xs-6 col-md-6">
										<input type="text" ng-model="firstName" name="firstname" value="" class="form-control input-lg" placeholder="First Name"  />                       
									</div>
									<div class="col-xs-6 col-md-6">
										<input type="text" ng-model="lastName" name="lastname" value="" class="form-control input-lg" placeholder="Last Name"  />                  
									</div>
								</div>
								<br>
								<input type="text" ng-model="email" name="email" value="" class="form-control input-lg" placeholder="Your Email"  /><br><input type="password" ng-model="password" name="password" value="" class="form-control input-lg" placeholder="Password"  /><br>

								<div class="row">
									<div class="col-xs-4 col-md-3">
										<label>Model Type</label>
									</div>                           
									<div class="col-xs-4 col-md-4">
										<select ng-model="modelType" name="model type" class = "form-control input-lg">
											<option value="kanban">Kanban</option>
											<option value="waterfall">Waterfall</option>
											<option value="scrum">Scrum</option>
										</select>                        </div>
									</div>
									<br>

									<span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
									<!-- <input type = "button" onClick="/signup/kanban/create" class="btn btn-lg btn-block signup-btn" type="submit"> -->
									<button type="submit" ng-click=signUp() class="btn btn-primary btn-block">Sign Up</button>	
								</div>
							</form>
						</div>
					</div>
				</div>  
			
				<div class="col-md-6 main-grid"> 

					<div class="main-well">	
						<form class="form-horizontal">  					
							<fieldset>    			
								<h4> Login here </h4><br>										
								<div class="form-group">      
									<div class="col-lg-12">
										<input type="email" ng-model="inputEmail" class="form-control" id="inputEmail" placeholder="Email address" required>  
									</div>
								</div>

								<div class="form-group">
									<div class="col-lg-12">      							
										<input type="password" ng-model="inputPassword" class="form-control" id="inputPassword" placeholder="Password (6 or more characters)" required>
									</div>
								</div>
								<br>

								<div class="form-group">
									<div class="col-lg-12">								
										<p>									
											<button type="submit" ng-click="login()" class="btn btn-primary btn-block">Login</button>	
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div> 

        	</div>
    	</div>

	    <div ng-show="projectPageShow">
	     	<div class="row">
				<div class="col-md-9 row text-center">
					<h2> Project List </h2>
				</div>
				<div class="col-md-3 row text-center"> 
					<button type="button" class="btn-lg btn-warning" ng-click="switchToEdit()">
						Create Project
					</button>

					<div class="col-lg-12" ng-show="true">
						<input type="text" ng-model="projectName" ng-click="createproject()" placeholder="Project name" required>  
					</div>
					    
				</div>
			</div>                
				<br>            
			<div class="row">  
				<div class="col-md-2">
				</div>
				<div class="col-md-10">
					<select name="model type" class="place_holder dropdown" ng-model="project" ng-change="selectProject(project)" style='width: 30%; height: 30%'>
						<option ng:repeat="project in projects" value="{{project.projectName}}">{{project.projectName}}</option>
	            	</select>
				</div>

					<br><br><br><br><br><br>
			</div>
		</div>

	    <div id="wrapper" ng-show="waterfallPageShow">
	        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="index.html">Back to Admin</a>
	            </div>
	            <div class="collapse navbar-collapse navbar-ex1-collapse">
	                <ul class="nav navbar-nav side-nav">
	                    <li><a href="./"><i class="fa fa-bullseye"></i> Dashboard</a></li>
	                    
	                    <li  class="active"><a href="./searchGuards"><i class="fa fa-tasks"></i> Tasks</a></li>
	                    
	                    <li><a data-ng-click=getWaterfallStatus()><i class="fa fa-globe"></i> Status</a></li>
	                    <li><a href="./displaySchedule? Not sure"><i class="fa fa-list-ol"></i> Schedule</a></li>
	                    <li><a href="./searchBuildings"><i class="fa fa-globe"></i> Buildings</a></li>                    
	                </ul>
	                <ul class="nav navbar-nav navbar-right navbar-user">                    
	                    <li><a href="./logout"><i class="fa fa-power-off"></i> Log Out</a></li>                       
	                </ul>
	            </div>
	        </nav>
	    	<div class="row">
	        	<div class="modal-body" ng-show="showMode">           
	            	<div class="row text-center">
	                	<h2> Task Details </h2>
	            	</div>
	        	
	        		<br>  

		    		<div class="col-md-6" ng-repeat="task in tasks"> 
		        		<div class="scrollit" ng-show = 'visible[task.taskId]'>
		            		<table border="1">
		                		<div class="content">                   
		                    		<form class="form-horizontal">                      
		                        		<fieldset>    
		                            		<div class="form-group">      
		                                		<label class="col-md-5">
		                                    		Task ID:
			                                	</label>
		    	                            	<div class="col-md-6">
		        	                            	<p class="form-control-static">{{task.taskId}}</p>
		            	                    	</div>
		                	            	</div>

		                            		<div class="form-group">      
		                                		<label class="col-md-5">
			                                    	Task Name:
		    	                            	</label>
		        	                        	<div class="col-md-6">
		            	                        	<p class="form-control-static">{{task.taskName}}</p>
		                	                	</div>
		                    	        	</div>

			                            	<div class="form-group">      
		    	                            	<label class="col-md-5">
		        	                            	Duration:
		            	                    	</label>
		                	                	<div class="col-md-6">
		                    	                	<p class="form-control-static">{{task.duration}}</p>
		                        	        	</div>
		                            		</div>
		                            		<div class="form-group">
			                                	<label class="col-md-5">
		    	                                	Start Date:
		        	                        	</label>
		            	                    	<div class="col-md-6">
		                	                    	<p class="form-control-static">{{task.startDate}}</p>
		                    	            	</div>
		                        	    	</div>
			                            		<div class="form-group">
		    	                            	<label class="col-md-5">
		        	                            	End Date:
		            	                    	</label>
		                	                	<div class="col-md-6">                
		                    	                	<p class="form-control-static">{{task.endDate}}</p>                        
		                        	        	</div>
		                            		</div>
		                            		<div class="form-group">      
			                                	<label class="col-md-5">
		    	                                	Predecessors:
		        	                        	</label>
		            	                    	<div class="col-md-6">
		                	                    	<p class="form-control-static">{{task.predecessors}}</p>
		                    	            	</div>
		                        	    	</div>
		                            		<div class="form-group">      
		                                		<label class="col-md-5">
		                                    		Resources allocated:
			                                	</label>
		    	                            	<div class="col-md-6">
		        	                            	<p class="form-control-static">{{task.resources}}</p>
		            	                    	</div>
		                	            	</div>
		                    	        	<div class="form-group">      
		                        	        	<label class="col-md-5">
		                            	        	Risks:
		                                		</label>
		                                		<div class="col-md-6">
			                                    	<p class="form-control-static">{{task.risks}}</p>
		    	                            	</div>
		        	                    	</div>
		            	                	<div class="form-group">      
		                	                	<label class="col-md-5">
		                    	                	% Completed:
		                        	        	</label>
		                            	    	<div class="col-md-6">
		                                	    	<p class="form-control-static">{{task.completed}}</p>
		                                		</div>
			                            	</div>
		    	                    	</fieldset>
		                    		</form>
			                	</div>
								<div class="row"> 
		        	            	<label class='col-md-1'></label>
		            	        	<div class="col-md-3"> 
		                	        	<button type="button" class="btn btn-primary" ng-click="editTask(task.taskId)">
		                    	        	Edit Task
		                        		</button>
			                    	</div>
		    	                	<div class="col-md-2"> 
		        	                	<button type="button" class="btn btn-danger" ng-click ="deleteTask(task)">
		            	                	Delete Tasks
		                	        	</button>
		                    		</div> 
		                    		<div class="col-md-2"> 
		        	                	<button type="button" class="btn btn-danger" ng-click ="addTask()">
		            	                	Add Tasks
		                	        	</button>
		                    		</div> 
		                		</div>
							</table>
		        		</div>
		         		<div id="create" ng-hide="visible[task.taskId]">            
		            		<div class="row text-center">
		            			<h2>Edit Task</h2>
			            	</div>
		    	        	<div class="col-md-10 container">                           
		        	        	<div class="content">                   
		            	        	<form class="form-horizontal">                      
		                	        	<fieldset>    
		                    	        	<div class="form-group">      
		                        	        	<label class="col-md-3">
		                            	        	Task ID:
		                                		</label>
		                                		<div class="col-md-6">
		                                    		<p class="form-control-static">{{task.taskId}}</p>
			                                	</div>
		    	                        	</div>
		        	                    	<div class="form-group">      
		            	                    	<label class="col-md-3">
		                	                    	Task Name:
		                    	            	</label>
		                        	        	<div class="col-md-6">
		                            	        	<input type="text" class="form-control" ng-model="task.taskName">
		                                		</div>
		                            		</div>
		                            		<div class="form-group">      
			                                	<label class="col-md-3">
		    	                                	Duration:
		        	                        	</label>
		            	                    	<div class="col-md-6">
		                	                    	<input type="text" class="form-control"  ng-model="task.duration"/>
		                    	            	</div>
		                        	    	</div>
		                            		<div class="form-group">
		                                		<label class="col-md-3">
		                                    		Start Date:
		                                		</label>
			                                	<div class="col-md-6">                
		    	                                	<div id='startDate'>
		        	                                	<input type='date' class="form-control" ng-model="task.startDate"/>
		            	                        	</div>                        
		                	                	</div>
		                    	        	</div>
		                        	    	<div class="form-group">
		                            	    	<label class="col-md-3">
		                                	    	End Date:
		                                		</label>
			                                	<div class="col-md-6">                
		    	                                	<div id='endDate'>
		        	                                	<input type='date' class="form-control" ng-model="task.endDate"/>
		            	                        	</div>                        
		                	                	</div>
		                    	        	</div>  
		                        	    	<div class="form-group">      
		                            	    	<label class="col-md-3">
		                                	    	Predecessors for this task:
		                                		</label>
			                                	<div class="col-md-6">
		    	                                	<input type="text" class="form-control" ng-model="task.predecessors"/>
		        	                        	</div>
		            	                	</div>
		                	            	<div class="form-group">      
		                    	            	<label class="col-md-3">
		                        	            	Resources allocated to this task:
		                            	    	</label>
		                                		<div class="col-md-6">
		                                    		<input type="text" class="form-control" ng-model="task.resources"/>
			                                	</div>
		    	                        	</div>
		        	                    	<div class="form-group">      
		            	                    	<label class="col-md-3">
		                	                    	Risks
		                    	            	</label>
		                        	        	<div class="col-md-6">
		                            	        	<input type="text" class="form-control" ng-model="task.risks"/>
		                                		</div>
		                            		</div>
			                            	<div class="form-group">      
		    	                            	<label class="col-md-3">
		        	                            	% Completed
		            	                    	</label>
		                	                	<div class="col-md-6">
		                    	                	<input type="text" class="form-control" ng-model="task.completed"/>
		                        	        	</div>
		                            		</div>
		                            		<div class="row text-center">
			                            		<button type="submit" class="btn btn-info" ng-click="saveTask(task)">
		    	                        			Save changes
		        	                    		</button>
		            	                		<button class="btn btn-warning" ng-click = "visible[task.taskId] = !visible[task.taskId]">
			                            			Cancel
		    	                        		</button>
		        	                    	</div>
		            	            	</fieldset>
		                	    	</form> 
		                		</div>
		            		</div>                  
			        	</div>
		    		</div>
		    	</div>
		    	<div id="create" ng-show="createTaskMode">            
	    			<div class="row text-center">
	    				<h2>Create Task</h2>
	    			</div>
	    			<div class="col-md-10 container">                           
	    				<div class="content">                   
	    					<form class="form-horizontal">                      
	    						<fieldset>    
	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Task ID:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="number" class="form-control" ng-model="newTtask.taskId">
	    								</div>
	    							</div>
	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Task Name:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" ng-model="newTtask.taskName">
	    								</div>
	    							</div>
	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Duration:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="number" class="form-control" ng-model="newTtask.duration"/>
	    								</div>
	    							</div>

	    							<div class="form-group">
	    								<label class="col-md-3">
	    									Start Date:
	    								</label>
	    								<div class="col-md-6">                
	    									<div id='startDate'>
	    										<input type='date' class="form-control" id="startDate" ng-model="newTtask.startDate"/>
	    									</div>                        
	    								</div>
	    							</div>

	    							<div class="form-group">
	    								<label class="col-md-3">
	    									End Date:
	    								</label>
	    								<div class="col-md-6">                
	    									<div id='endDate'>
	    										<input type='date' class="form-control" id="endDate" ng-model="newTtask.endDate"/>
	    									</div>                        
	    								</div>
	    							</div>  

	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Predecessors for this task:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" id="cost" ng-model="newTtask.predecessors"/>
	    								</div>
	    							</div>


	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Resources allocated to this task:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" id="street" ng-model="newTtask.resources"/>
	    								</div>
	    							</div>


	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Risks
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" ng-model="newTtask.risks"/>
	    								</div>
	    							</div>


	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									% Completed
	    								</label>
	    								<div class="col-md-6">
	    									<input type="number" class="form-control" ng-model="newTtask.completed"/>
	    								</div>
	    							</div>

	    							<div class="row text-center">

	    								<button type="submit" class="btn btn-info" ng-click="createTask()">
	    									Save changes
	    								</button>
	    								<button class="btn btn-warning" ng-click="backToShowTasks()">
	    									Cancel
	    								</button>

	    							</fieldset>
	    						</form> 
	    					</div>
	    				</div>                  
	    			</div>
				</div>	    		
			</div>

		<div class="modal-body" ng-show = "scrumPageShow">           
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					<div align="center">
					</div>
				</div>
				<div class="collapse navbar-collapse navbar-ex1-collapse">
					<ul class="nav navbar-nav side-nav">
						<li><a href="./"><i class="fa fa-bullseye"></i> Add Sprint</a></li>
						<li><a href="./searchClients"><i class="fa fa-list-ol"></i> Add User Story</a></li>
						<li><a href="./searchClients"><i class="fa fa-tasks"></i> Show Status</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right navbar-user">                    
						<li><a href="./logout"><i class="fa fa-power-off"></i> Log Out</a></li>                 
					</ul>
					<ul class="nav navbar-nav navbar-center navbar-user">                    
						<li><a href="">SCRUM</a></li>                 
					</ul>

				</div>
			</nav>
			<div class="row">
				<div class="col-md-3 row text-center">
					<!-- <button type="button" class="btn-sm btn-primary" ng-click="switchToEdit()">
						Add Sprint
					</button> -->
				</div>

				<div class="col-md-7 row text-center">
					<h2> Backlog Details </h2>
				</div>
			</div>                
			<br>   
			<div class="row">
				<div class="col-md-2"> 
				</div>
				<div class="col-md-8"> 
					<table border="1">
						<div class="content"><h3><input type="text" class="form-control" placeholder="Backlog name" id="text" ng-model="text"/></h3>     
						</div>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12"> 
					<div class="scrollit">

						<table style='table-layout:fixed;width:100%;height:100px' border='1'>
							<tr style='height: 45px;'>
								<th style='width: 3%;'>ID</th>
								<th style='width: 9%;'>User Story</th>
								<th style='width: 12%;'>Acceptable Criteri</th>
								<th style='width: 7%;'>Sprint</th>
								<th style='width: 10%;'>Comments</th>
								<th style='width: 5%;'>Days</th>
								<th style='width: 5%;'>Points</th>
								<th style='width: 9%;'>Status</th>
								<th style='width: 9%;'>Resources</th>
								<th colspan="2" style='width: 8%;'></th>
							</tr>
						
							<br>
							
							<tr style='height: 45px;' ng-repeat="userStory in userStories" ng-show="visible2[userStory.id]">
								<th><p>{{userStory.id}}</p></th>
								<th><p>{{userStory.name}}</p></th>
								<th><p>{{userStory.acceptanceCriteria}}</p></th>

								<!--th style='width: 15%;'> 
									<select name="model type" default='b' class = "form-control">
										<option value="01" ng-repeat = "sprint in sprints" value='sprint'>{{userStory.sprint}}</option>
									</select>
								</th-->
								<th><p>{{userStory.sprint}}</p></th>
								<th><p>{{userStory.comments}}</p></th>
								<th><p>{{userStory.days}}</p></th>
								<th><p>{{userStory.points}}</p></th>
								<th><p>{{userStory.status}}</p></th>
								<th><p>{{userStory.resources}}</p></th>
								<!-- <th type="button" ng-click="editUserStory(userStory.id)" class="btn btn-primary btn-block">Edit </th>

								    </tr> -->

									<td type="button" ng-click="editUserStory(userStory.id)" class="btn-xs btn-primary btn-block"><center>Edit</center> </td>
									<td type="button" ng-click="deleteUserStory(userStory)" class="btn-xs btn-warning btn-block"><center>Delete</center></td>

									</tr>


							<tr style='height: 45px;' ng-repeat="userStory in userStories" ng-show="!visible2[userStory.id]">
								<th style='width: 10%;'><input type="text" class="form-control" id="text" ng-model="userStory.id"/></th>
								<th style='width: 15%;'><input type="text" class="form-control" id="text" ng-model="userStory.name"/></th>
								<th style='width: 15%;'><input type="text" class="form-control" id="text" ng-model="userStory.acceptanceCriteria"/></th>

								<th style='width: 15%;'> 
									<select name="model type" default='b' ng-model = "userStory.sprint" class = "form-control">
										<option ng-repeat = "sprint in sprints" value='{{sprint}}'>{{sprint}}</option>
									</select>
								</th>
								<th style='width: 130%;'><input type="text" class="form-control" id="text" ng-model="userStory.comments"/></th>
								<th style='width: 8%;'><input type="text" class="form-control" id="text" ng-model="userStory.days"/></th>
								<th style='width: 8%;'><input type="text" class="form-control" id="text" ng-model="userStory.points"/></th>
								<th>
								<select name="model type" ng-model = "userStory.status" default='b' class = "form-control">
									<option value='TO DO'>TO DO</option>
									<option value='INPROGRESS'>INPROGRESS</option>
									<option value='COMPLETED'>COMPLETED</option>
									<option value='ACCEPTED'>ACCEPTED</option>
								</select>
								</th>

								<th style='width: 9%;'><input type="text" class="form-control" id="text" ng-model="userStory.resources"/></th>
								<!-- <th type="button" ng-click="editUserStory(userStory.id)" class="btn btn-primary btn-block">Cancel </th> -->
								<td type="button" ng-click="saveStory(userStory)" class="btn-xs btn-success btn-block"><center>Save</center> </td>
								<td type="button" ng-click="editUserStory(userStory.id)" class="btn-xs btn-danger btn-block"><center>Cancel</center></td>
							</tr>

							<br>
						</table>   
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

	<script>
		function loginController($scope, $http, $location) {
			$scope.projectPageShow = false;
            $scope.createProjMode  = false;
            $scope.signInPageShow = true;
            $scope.waterfallPageShow = false;
            $scope.scrumPageShow = false;

            //For displaying custom fields..
            $scope.customFields = [];

            //For Waterfall..
            $scope.tasks=[];
        	$scope.visible = [];
        	$scope.waterfallPageShow = false;
			// $scope.taskAdd=true;
			$scope.newTtask = {};
			$scope.showMode = false;


        	//For Scrum
        	$scope.userStories = [];
    		$scope.sprints = [];
    		$scope.editbacklog  = false;
    		$scope.visible2 = [];

    		$scope.newStory = {};
    		$scope.showStoryMode = false;
             
             $scope.createproject = function(){
             	$scope.createProjMode  = true;

             }

			$scope.signUp = function() {
				$http({
					method: 'POST',
					url: '/signUp',
					data: { "firstname": $scope.firstName, "password": $scope.password,
					         "lastname" : $scope.lastName, "modeltype":$scope.modelType,
					          "email":$scope.email }	            
				}).success(function(res){	           
					if(res.status == "Success")
					{	     
						alert('user sign up successful!');
					}	            	       
					else
					{
						alert(res.status);
						
					}	            	
				}).error(function(error){
					alert(res.status);
				});
			};
			
			$scope.login = function() {
					
				$http({
					method: 'POST',
					url: '/signIn',
					data: { "email": $scope.inputEmail, "password": $scope.inputPassword }	            
				}).success(function(res){	           
					// alert(JSON.stringify(res));	
					console.log(res);            
					if(res.status == "Success")
					{	     
						console.log('Sending backend call for projects');
						$scope.getProjects(); 
					}	            	       
					else
					{
						alert(res.status);
						
					}	            	
				}).error(function(error){
					alert(res.Status);
				});
			};


			$scope.getProjects = function() {
				$http({
					method: 'GET',
					url: '/getProjects'
				}).success(function(res){	           
					console.log(res);	            
					if(res.status == "Success")
					{	           			
						$scope.projectPageShow = true;
						$scope.signInPageShow  = false;
						$scope.projects = res.projects;
					}	            	       
					else
					{
						alert(res.error);
					}	            	
				}).error(function(error){
					alert(res.Status);
				});
			};

			$scope.selectProject = function(projectName){
				$http({
					method : "POST",
					url : '/selectProject',
					data : {'projectName':projectName}
				}).success(function(res){
					console.log(res);
					console.log(res.modelType);
					if(res.modelType === 'waterfall'){
						$scope.Waterfall(res);
						$scope.getCustomFeilds()
					} else if (res.modelType === 'scrum'){
						$scope.getCustomFeilds()
						$scope.scrumInit(res);
					} else {
						console.log('Its by mistake.. :)');
						window.location = "/loadCards";
					}
				})
			}

			$scope.getCustomFeilds = function(){
				$http({
					method : 'GET',
					url : '/getCustomFields'
				}).success(function(res){
					console.log(res);
					if(res.success === 'Success'){
						$scope.customFields = res.fields;
					}
				})
			}

			$scope.Waterfall = function(res){
				console.log('in scope.Waterfall = function(res){');
				$scope.tasks = res.data[0].tasks;
				$scope.projectPageShow = false;
            	$scope.createProjMode  = false;
            	$scope.signInPageShow = false;
            	$scope.scrumPageShow = false;
            	$scope.waterfallPageShow = true;
            	$scope.showMode = true;
                
                console.log($scope.tasks);
                for(var i=0; i<$scope.tasks.length;i++){
                    $scope.visible[$scope.tasks[i].taskId] = true;
                }
			}

			$scope.addTask = function(){
                $scope.createTaskMode=true;
                $scope.showMode = false;
            }

            $scope.backToShowTasks = function(){
                $scope.createTaskMode=false;
                $scope.showMode = true;
            }

            $scope.createTask = function(){
            	console.log('prnting task data to be saved');
            	console.log($scope.newTtask);
            	$http({
            		method : 'POST',
            		url : 'addTask',
            		data : {'task' : $scope.newTtask}
            	}).success(function(res){
            		console.log(res);
            		if(res.status === 'Success'){
            			console.log('Task cretaed successfully');
            			console.log($scope.tasks);
            			$scope.tasks.push($scope.newTtask);
            			alert('Task creted successfully.');
            			$scope.createTaskMode=false;
                		$scope.showMode = true;
            			$scope.visible[$scope.newTtask.taskId] = true;
            			
            		} else {
            			alert('Sorry Task not created');
            		}
            	})
            }

			$scope.editTask = function(taskId){
            	$scope.visible[taskId]=!$scope.visible[taskId];
        	}

        	$scope.deleteTask = function(task){
        		$http({
                	method : 'POST',
                	url : '/deleteTask',
                	data : {'taskId' : task.taskId}
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	alert('Deleted successfully.');
                    	$scope.tasks.splice($scope.tasks.indexOf(task),1)
                    	$scope.visible[task.taskId]=!$scope.visible[task.taskId];
                	}
            	})
        	}

        	$scope.saveTask = function(task){
            	// task.userId = 'k.praveen@outlook.com';
            	// task.projectName = 'Test1'
            	console.log(task);

            	$http({
                	method : 'PUT',
                	url : '/updateTask',
                	data : task
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	alert('Saved successfully.');
                    	$scope.visible[task.taskId]=!$scope.visible[task.taskId];

                	}
            	})
        	}

			
			$scope.getWaterfallStatus = function()
			{
				$http({
                	method : 'POST',
                	url : '/getWaterfallStatus'
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	window.location = '/projectStatusWaterfall';
                	}
            	})
			}
			$scope.getScrumStatus = function()
			{
				$http({
                	method : 'POST',
                	url : '/getScrumStatus'
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	window.location = '/projectStatusScrum';
                	}
            	})
			}
        	//functions for Scrum..
        	$scope.getSprints = function(){
        		$http({
            		method : 'GET',
            		url : '/getSprints'
        		}).success(function(res){
            		console.log('Got response: '+JSON.stringify(res));
            		if(res === undefined || res.status === undefined || res.status === 'Failed') {
                		alert('Unable to laod data.');
            		} else if(res.status === 'Success'){
                		$scope.sprints = res.sprints;
            		}
        		})
        	}

        	$scope.scrumInit = function(res){
				$scope.userStories = res.data[0].userStories;
				$scope.projectPageShow = false;
            	$scope.createProjMode  = false;
            	$scope.signInPageShow = false;
            	$scope.scrumPageShow = true;
            	$scope.waterfallPageShow = false;
        		
                console.log($scope.userStories);
                for(var i=0; i<$scope.userStories.length;i++){
                    $scope.visible2[$scope.userStories[i].id] = true;
                }
                $scope.getSprints();
			}

			$scope.editUserStory = function(id){
            	$scope.visible2[id]=!$scope.visible2[id];
        	}

        	$scope.deleteUserStory = function(story){
            	$http({
                	method : 'POST',
                	url : '/deleteUserstory',
                	data : {'id' : story.id}
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	alert('Deleted successfully.');
                    	$scope.userStories.splice($scope.userStories.indexOf(story),1)
                    	$scope.visible2[story.id]=!$scope.visible2[story.id];
                	}
            	})
        	}

        	$scope.saveStory = function(story){
            	// story.userId = 'k.praveen@outlook.com';
            	// story.projectName = 'Test1'
            	console.log(story);
            	$http({
                	method : 'POST',
                	url : '/updateUserStory',
                	data : {'data':story}
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	alert('Saved successfully.');
                    	$scope.visible2[story.id]=!$scope.visible2[story.id];
                	}
            	})
        	}
    	}
	</script>
</html>