<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>281 - Team 22</title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/css/local.css" />

	<script type="text/javascript" src="/stylesheets/js/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>   

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>  
	<style type="text/css">
    .scrollit {
        overflow: scroll;
        height: 350px;
    }
    </style>   
</head>

<body ng-app="" ng-controller="loginController" background="/images/db.jpg">
		<div class="row" ng-show="signInPageShow">
			<div class="container im-centered">
			    
			    <div class="col-md-12">
						<div class="row text-center main-title" style="height: 100px">
							<h1> Multi-Tenant System</h1>
						</div>
				</div>
				
			    <div class="col-md-6 main">
			      <div class="container" id="wrap">
				
					<div class="row">
						<div class="col-md-4" style="border: solid 3px #000000; background: #FAFAFA">
							<form method="post" accept-charset="utf-8" class="form" role="form">  
							 <legend>Sign Up</legend>
								
								<div class="row">
									<div class="col-xs-6 col-md-6">
										<input type="text" ng-model="firstName" name="firstname" value="" class="form-control input-lg" placeholder="First Name" style="background-color:#FCF5D8;color:#AD8C08;" />                       
									</div>
									<div class="col-xs-6 col-md-6">
										<input type="text" ng-model="lastName" name="lastname" value="" class="form-control input-lg" placeholder="Last Name" style="background-color:#FCF5D8;color:#AD8C08;"/>                  
									</div>
								</div>

								<br>
								<input type="text" ng-model="email" name="email" value="" class="form-control input-lg" placeholder="Your Email" style="background-color:#FCF5D8;color:#AD8C08;" /><br><input type="password" ng-model="password" name="password" value="" class="form-control input-lg" placeholder="Password" style="background-color:#FCF5D8;color:#AD8C08;" /><br>

								<div class="row">
									<div class="col-xs-4 col-md-3">
										<label>Model Type</label>
									</div>                           
									<div class="col-xs-4 col-md-4">
										<select ng-model="modelType" class = "form-control input-lg" style="background-color:#FCF5D8;color:#AD8C08;">
											<option value="kanban">Kanban</option>
											<option value="waterfall">Waterfall</option>
											<option value="scrum">Scrum</option>
										</select>  
									</div>
								</div>
								<br>
									<hr style="border: solid 2px #000000";>
									<span class="help-block"><h5>By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy.</h5></span>
									<button type="submit" ng-click="signUp()" class="btn btn-success btn-block">Sign Up</button>
									</div>	
							</form>
						</div>
					</div>
				</div>  
			   
					<div class="col-md-6 main-grid">
					  	<div class="main-well" style="border: solid 3px #000000; background: #FAFAFA"> 

							<form class="form-horizontal">  					
								<fieldset>    			
									<h4> Login here </h4><br>										
									<div class="form-group">      
										<div class="col-lg-12">
											<input type="email" ng-model="inputEmail" class="form-control" id="inputEmail" placeholder="Email address" style="background-color:#FCF5D8;color:#AD8C08;" required >  
										</div>
									</div>

									<div class="form-group">
										<div class="col-lg-12">      							
											<input type="password" ng-model="inputPassword" class="form-control" id="inputPassword" placeholder="Password" style="background-color:#FCF5D8;color:#AD8C08;" required>
										</div>
									</div>
									<br>

									<div class="form-group">
										<div class="col-lg-12">								
											<p>									
												<button type="submit" ng-click="login()" class="btn btn-success btn-block">Login</button>	
										</div>
									</div>
								</fieldset>
							</form>
						</div>
					</div>
    	      </div>
        </div>



	    <div id="wrapper" ng-show="projectPageShow">
	        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	            <div>
	                <a class="navbar-brand" href="index.html">Kanban</a>
	            </div>
	            <div class="collapse navbar-collapse navbar-ex1-collapse">
	                <ul class="nav navbar-nav side-nav">
	                    <li><a href="./searchClients"><i class="fa fa-bullseye"></i> Create Project</a></li>
	                 </ul>
	                <ul class="nav navbar-nav navbar-right navbar-user">                    
	                    <li><a href="#" data-ng-click=signOut()><i class="fa fa-power-off"></i> Log Out</a></li>                  
	                </ul>
	            </div>
	        </nav>
			<div class="row" style="padding-top: 90px; padding-left: 270px">
	 			<div class="col-md-4" style="border: solid 3px #000000;">
	 				<form method="post" accept-charset="utf-8" class="form" role="form">  
	 					<legend>Enter Your Project Details</legend>
	 					
	 					<input type="text" ng-model="projectName" class="form-control input-lg" placeholder="Project Name" style="background-color:#FCF5D8;color:#AD8C08;" /><br>
	 					<input type="password" ng-model="projectDescription" class="form-control input-lg" placeholder="Project Description" style="background-color:#FCF5D8;color:#AD8C08;"/><br>
	 					<div class="row">
	 						<div class="col-xs-6 col-md-6">
	 							<button type="submit" ng-click="createProject()" class="btn btn-success btn-block">Save</button>	
	 						</div>
	 						<div class="col-xs-6 col-md-6">
	 							<button type="submit" ng-click="cancel()" class="btn btn-warning btn-block">Cancel</button>	
	 						</div>
	 					</div>
	 				</form>
	 			</div>

	 			<div class="col-md-1">
	 			</div>
	 			<div class="col-md-4"> <h4>Select your project from the list</h4>
	 				<div class="scrollit">
	 					<select name="model type" class="form-control input-lg" ng-model="project" ng-change="selectProject(project)" style="background-color:#FCF5D8;color:#AD8C08;">
	 					
	 					<option ng:repeat="project in projects" value="{{project.projectName}}">{{project.projectName}}</option>
	 				
	 				</select>
	 			    </div>
	 			</div>
	 		</div>
	 	</div>


	     	
	    <div id="wrapper" ng-show="waterfallPageShow">
	        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	            <div>
	                <a class="navbar-brand" href="index.html">Waterfall</a>
	            </div>
	            <div class="collapse navbar-collapse navbar-ex1-collapse">
	                <ul class="nav navbar-nav side-nav">
	                    <li><a data-ng-click ="addTask()"><i class="fa fa-bullseye"></i> Add task</a></li>
	                    <li><a data-ng-click=getWaterfallStatus()><i class="fa fa-globe"></i> Status</a></li>
	                    </ul>
	                <ul class="nav navbar-nav navbar-right navbar-user">                    
	                    <li><a href="#" data-ng-click=signOut()><i class="fa fa-power-off"></i> Log Out</a></li>                     
	                </ul>
	            </div>
	        </nav>
	    	<div class="row">
	        	<div class="modal-body" ng-show="showMode">           
	            	<div class="row text-center">
	                	<h2> TASK DETAILS </h2>
	            	</div>
	        	
	        		<br>  

		    		<div class="col-md-6" ng-repeat="task in tasks"> 
		        		<div class="scrollit" ng-show = 'visible[task.taskId]'>
		            		<table border="1">
		            			
								<div class="content">                   
		                    		<form class="form-horizontal">                      
		                        		<fieldset>    
		                            		<div class="form-group">      
		                                		<label class="col-md-5">
		                                    		Task ID:
			                                	</label>
		    	                            	<div class="col-md-6">
		        	                            	<p class="form-control-static">{{task.taskId}}</p>
		            	                    	</div>
		                	            	</div>

		                            		<div class="form-group">      
		                                		<label class="col-md-5">
			                                    	Task Name:
		    	                            	</label>
		        	                        	<div class="col-md-6">
		            	                        	<p class="form-control-static">{{task.taskName}}</p>
		                	                	</div>
		                    	        	</div>

			                            	<div class="form-group">      
		    	                            	<label class="col-md-5">
		        	                            	Duration:
		            	                    	</label>
		                	                	<div class="col-md-6">
		                    	                	<p class="form-control-static">{{task.duration}}</p>
		                        	        	</div>
		                            		</div>
		                            		<div class="form-group">
			                                	<label class="col-md-5">
		    	                                	Start Date:
		        	                        	</label>
		            	                    	<div class="col-md-6">
		                	                    	<p class="form-control-static">{{task.startDate}}</p>
		                    	            	</div>
		                        	    	</div>
			                            		<div class="form-group">
		    	                            	<label class="col-md-5">
		        	                            	End Date:
		            	                    	</label>
		                	                	<div class="col-md-6">                
		                    	                	<p class="form-control-static">{{task.endDate}}</p>                        
		                        	        	</div>
		                            		</div>
		                            		<div class="form-group">      
			                                	<label class="col-md-5">
		    	                                	Predecessors:
		        	                        	</label>
		            	                    	<div class="col-md-6">
		                	                    	<p class="form-control-static">{{task.predecessors}}</p>
		                    	            	</div>
		                        	    	</div>
		                            		<div class="form-group">      
		                                		<label class="col-md-5">
		                                    		Resources allocated:
			                                	</label>
		    	                            	<div class="col-md-6">
		        	                            	<p class="form-control-static">{{task.resources}}</p>
		            	                    	</div>
		                	            	</div>
		                    	        	<div class="form-group">      
		                        	        	<label class="col-md-5">
		                            	        	Risks:
		                                		</label>
		                                		<div class="col-md-6">
			                                    	<p class="form-control-static">{{task.risks}}</p>
		    	                            	</div>
		        	                    	</div>
		            	                	<div class="form-group">      
		                	                	<label class="col-md-5">
		                    	                	% Completed:
		                        	        	</label>
		                            	    	<div class="col-md-6">
		                                	    	<p class="form-control-static">{{task.completed}}</p>
		                                		</div>
			                            	</div>
			                            	<div class="form-group" ng-repeat="customField in customFields">      
		                	                	<label class="col-md-5">
		                    	                	{{customField.fieldName}}:
		                        	        	</label>
		                            	    	<div class="col-md-6">
		                                	    	<p class="form-control-static">{{task.newField}}</p>
		                                		</div>
			                            	</div>
		    	                    	</fieldset>
		                    		</form>
			                	</div>
			                	<div class="row" border="1"> 
		        	            	<div class='col-md-1'></div>
		    	                	<div class="col-md-2"> 
		        	                    <button type="button" class="btn btn-success" ng-click="editTask(task.taskId)">
		                    	        	Edit Task
		                        		</button>
			                    	</div> 
		                    		<div class='col-md-1'></div>
		                    		<div class="col-md-2"> 
		        	                	<button type="button" class="btn btn-danger" ng-click ="deleteTask(task)">
		            	                	Delete Task
		                	        	</button>
		                	        </div> 
		                		</div>
							</table>
		        		</div>
		         		<div id="create" ng-hide="visible[task.taskId]">            
		            		<div class="row text-center">
		            			<h2>Edit Task</h2>
			            	</div>
		    	        	<div class="col-md-10 container">                           
		        	        	<div class="content">                   
		            	        	<form class="form-horizontal">                      
		                	        	<fieldset>    
		                    	        	<div class="form-group">      
		                        	        	<label class="col-md-3">
		                            	        	Task ID:
		                                		</label>
		                                		<div class="col-md-6">
		                                    		<p class="form-control-static">{{task.taskId}}</p>
			                                	</div>
		    	                        	</div>
		        	                    	<div class="form-group">      
		            	                    	<label class="col-md-3">
		                	                    	Task Name:
		                    	            	</label>
		                        	        	<div class="col-md-6">
		                            	        	<input type="text" class="form-control" ng-model="task.taskName" style="background-color:#FCF5D8;color:#AD8C08;"/>
		                                		</div>
		                            		</div>
		                            		<div class="form-group">      
			                                	<label class="col-md-3">
		    	                                	Duration:
		        	                        	</label>
		            	                    	<div class="col-md-6">
		                	                    	<input type="text" class="form-control"  ng-model="task.duration" style="background-color:#FCF5D8;color:#AD8C08;"/>
		                    	            	</div>
		                        	    	</div>
		                            		<div class="form-group">
		                                		<label class="col-md-3">
		                                    		Start Date:
		                                		</label>
			                                	<div class="col-md-6">                
		    	                                	<div id='startDate'>
		        	                                	<input type='date' class="form-control" ng-model="task.startDate" style="background-color:#FCF5D8;color:#AD8C08;"/>
		            	                        	</div>                        
		                	                	</div>
		                    	        	</div>
		                        	    	<div class="form-group">
		                            	    	<label class="col-md-3">
		                                	    	End Date:
		                                		</label>
			                                	<div class="col-md-6">                
		    	                                	<div id='endDate'>
		        	                                	<input type='date' class="form-control" ng-model="task.endDate" style="background-color:#FCF5D8;color:#AD8C08;"/>
		            	                        	</div>                        
		                	                	</div>
		                    	        	</div>  
		                        	    	<div class="form-group">      
		                            	    	<label class="col-md-3">
		                                	    	Predecessors for this task:
		                                		</label>
			                                	<div class="col-md-6">
		    	                                	<input type="text" class="form-control" ng-model="task.predecessors" style="background-color:#FCF5D8;color:#AD8C08;"/>
		        	                        	</div>
		            	                	</div>
		                	            	<div class="form-group">      
		                    	            	<label class="col-md-3">
		                        	            	Resources allocated to this task:
		                            	    	</label>
		                                		<div class="col-md-6">
		                                    		<input type="text" class="form-control" ng-model="task.resources" style="background-color:#FCF5D8;color:#AD8C08;"/>
			                                	</div>
		    	                        	</div>
		        	                    	<div class="form-group">      
		            	                    	<label class="col-md-3">
		                	                    	Risks
		                    	            	</label>
		                        	        	<div class="col-md-6">
		                            	        	<input type="text" class="form-control" ng-model="task.risks" style="background-color:#FCF5D8;color:#AD8C08;"/>
		                                		</div>
		                            		</div>
			                            	<div class="form-group">      
		    	                            	<label class="col-md-3">
		        	                            	% Completed
		            	                    	</label>
		                	                	<div class="col-md-6">
		                    	                	<input type="text" class="form-control" ng-model="task.completed" style="background-color:#FCF5D8;color:#AD8C08;"/>
		                        	        	</div>
		                            		</div>
		                            		<div class="row text-center">
			                            		<button type="submit" class="btn btn-info" ng-click="saveTask(task)">
		    	                        			Save changes
		        	                    		</button>
		            	                		<button class="btn btn-warning" ng-click = "visible[task.taskId] = !visible[task.taskId]" >
			                            			Cancel
		    	                        		</button>
		        	                    	</div>
		            	            	</fieldset>
		                	    	</form> 
		                		</div>
		            		</div>                  
			        	</div>
		    		</div>
		    	</div>
		    	<div id="create" ng-show="createTaskMode">            
	    			<div class="row text-center">
	    				<h2>Create Task</h2>
	    			</div>
	    			<div class="col-md-10 container">                           
	    				<div class="content">                   
	    					<form class="form-horizontal">                      
	    						<fieldset>    
	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Task ID:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="number" class="form-control" ng-model="newTtask.taskId" style="background-color:#FCF5D8;color:#AD8C08;">
	    								</div>
	    							</div>
	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Task Name:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" ng-model="newTtask.taskName" style="background-color:#FCF5D8;color:#AD8C08;">
	    								</div>
	    							</div>
	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Duration:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="number" class="form-control" ng-model="newTtask.duration" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    								</div>
	    							</div>

	    							<div class="form-group">
	    								<label class="col-md-3">
	    									Start Date:
	    								</label>
	    								<div class="col-md-6">                
	    									<div id='startDate'>
	    										<input type='date' class="form-control" id="startDate" ng-model="newTtask.startDate" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    									</div>                        
	    								</div>
	    							</div>

	    							<div class="form-group">
	    								<label class="col-md-3">
	    									End Date:
	    								</label>
	    								<div class="col-md-6">                
	    									<div id='endDate'>
	    										<input type='date' class="form-control" id="endDate" ng-model="newTtask.endDate" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    									</div>                        
	    								</div>
	    							</div>  

	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Predecessors for this task:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" id="cost" ng-model="newTtask.predecessors" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    								</div>
	    							</div>


	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Resources allocated to this task:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" id="street" ng-model="newTtask.resources" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    								</div>
	    							</div>


	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Risks
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" ng-model="newTtask.risks" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    								</div>
	    							</div>


	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									% Completed
	    								</label>
	    								<div class="col-md-6">
	    									<input type="number" class="form-control" ng-model="newTtask.completed" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    								</div>
	    							</div>

	    							<div class="row text-center">

	    								<button type="submit" class="btn btn-info" ng-click="createTask()">
	    									Save changes
	    								</button>
	    								<button class="btn btn-warning" ng-click="backToShowTasks()">
	    									Cancel
	    								</button>

	    							</fieldset>
	    						</form> 
	    					</div>
	    				</div>                  
	    			</div>
				</div>
				<!-- <div ng-show="waterfallGraph">
					<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
				</div> 	 -->	
			</div>
			

		<div class="modal-body" ng-show = "scrumPageShow">           
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	            <div>
	                <a class="navbar-brand" href="index.html">Scrum</a>
	            </div>
	            <div class="collapse navbar-collapse navbar-ex1-collapse">
	                <ul class="nav navbar-nav side-nav">
	                    <li><a href="./"><i class="fa fa-bullseye"></i> Add Sprint</a></li>
						<li><a href="./searchClients"><i class="fa fa-list-ol"></i> Add User Story</a></li>
						<li><a data-ng-click=getScrumStatus()><i class="fa fa-tasks"></i> Show Status</a></li>
					</ul>
	                <ul class="nav navbar-nav navbar-right navbar-user">                    
	                    <li><a href="#" data-ng-click=signOut()><i class="fa fa-power-off"></i> Log Out</a></li>                       
	                </ul>
	            </div>
	        </nav>
	    	<div class="row">
				<div class="col-md-3 row text-center">
				</div>

				<div class="col-md-7 row text-center">
					<h2> Backlog Details </h2>
				</div>
			</div>                
			<br>   
			<div class="row">
				<div class="col-md-2"> 
				</div>
				<div class="col-md-8"> 
					<table border="1">
						<div class="content"><h3><input type="text" class="form-control" placeholder="Backlog name" id="text" ng-model="text"/></h3>     
						</div>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-5"> 
					<div class="scrollit">
							<!-- 
					<tr style='height: 45px;' ng-repeat="userStory in userStories" ng-show="!visible2[userStory.id]">
								<th style='width: 10%;'><input type="text" class="form-control" id="text" ng-model="userStory.id"/></th>
								<th style='width: 15%;'><input type="text" class="form-control" id="text" ng-model="userStory.name"/></th>
								<th style='width: 15%;'><input type="text" class="form-control" id="text" ng-model="userStory.acceptanceCriteria"/></th>

								<th style='width: 15%;'> 
									<select name="model type" default='b' ng-model = "userStory.sprint" class = "form-control">
										<option ng-repeat = "sprint in sprints" value='{{sprint}}'>{{sprint}}</option>
									</select>
								</th>
								<th style='width: 130%;'><input type="text" class="form-control" id="text" ng-model="userStory.comments"/></th>
								<th style='width: 8%;'><input type="text" class="form-control" id="text" ng-model="userStory.days"/></th>
								<th style='width: 8%;'><input type="text" class="form-control" id="text" ng-model="userStory.points"/></th>
								<th>
								<select name="model type" ng-model = "userStory.status" default='b' class = "form-control">
									<option value='TO DO'>TO DO</option>
									<option value='INPROGRESS'>INPROGRESS</option>
									<option value='COMPLETED'>COMPLETED</option>
									<option value='ACCEPTED'>ACCEPTED</option>
								</select>
								</th>

								<th style='width: 9%;'><input type="text" class="form-control" id="text" ng-model="userStory.resources"/></th>
								<td type="button" ng-click="saveStory(userStory)" class="btn-xs btn-success btn-block"><center>Save</center> </td>
								<td type="button" ng-click="editUserStory(userStory.id)" class="btn-xs btn-danger btn-block"><center>Cancel</center></td>
							</tr>
 -->
						<TABLE border='2' ng-repeat="userStory in userStories" ng-show="visible2[userStory.id]" cellpadding=4 style="width: 300px">
							<TR style='height: 45px;' > <TH COLSPAN=2>User Story 1</TH> </TR>
							<TR> 
								<TD width="125px">ID</TD> 
								<TD width="175px"><p>{{userStory.id}}</p></TD> 
							</TR>
							<TR> 
								<TD>User Story</TD> 
								<TD><p>{{userStory.name}}</p></TD> 
							</TR>
							<TR> 
								<TD>Acceptable Criteria</TD> 
								<TD><p>{{userStory.acceptanceCriteria}}</p></TD> 
							</TR>
							<TR> 
								<TD>Sprint</TD> 
								<TD><p>{{userStory.sprint}}</p></TD>
							</TR>
							<TR> 
								<TD>Comments</TD> 
								<TD><p>{{userStory.comments}}</p></TD> 
							</TR>
							<TR> 
								<TD>Days</TD>      
								<TD><p>{{userStory.days}}</p></TD> 
							</TR>
							<TR> 
								<TD>Points</TD> 
								<TD><p>{{userStory.points}}</p></TD> 
							</TR>
							<TR> 
								<TD>Status</TD> 
								<TD><p>{{userStory.status}}</p></TD> 
							</TR>
							<TR> 
								<TD>Resources</TD> 
								<TD><p>{{userStory.resources}}</p></TD> 
							</TR>
							<TR> 
								<TD type="button" ng-click="editUserStory(userStory.id)" class="btn-xs btn-primary btn-block"><center>Edit</center></TD>      
								<TD type="button" ng-click="deleteUserStory(userStory)" class="btn-xs btn-warning btn-block"><center>Delete</center></TD> </TR>
							<br>
						</TABLE>  
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3"></div> 
					<div class="col-md-8"> 
	    			<div class="row text-center">
	    				<h2>Add User Story</h2>
	    			</div>
	    			<div class="col-md-10 container">                           
	    				<div class="content">                   
	    					<form class="form-horizontal">                      
	    						<fieldset>    
	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									ID:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="number" class="form-control" ng-model="newTtask.taskId" style="background-color:#FCF5D8;color:#AD8C08;">
	    								</div>
	    							</div>
	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									User Story:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" ng-model="newTtask.taskName" style="background-color:#FCF5D8;color:#AD8C08;">
	    								</div>
	    							</div>
	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Acceptable Criteria:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="number" class="form-control" ng-model="newTtask.duration" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    								</div>
	    							</div>

	    							<div class="form-group">
	    								<label class="col-md-3">
	    									Sprint:
	    								</label>
	    								<div class="col-md-6">                
	    									<div id='startDate'>
	    										<input type='date' class="form-control" id="startDate" ng-model="newTtask.startDate" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    									</div>                        
	    								</div>
	    							</div>

	    							<div class="form-group">
	    								<label class="col-md-3">
	    									Comments:
	    								</label>
	    								<div class="col-md-6">                
	    									<div id='endDate'>
	    										<input type='date' class="form-control" id="endDate" ng-model="newTtask.endDate" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    									</div>                        
	    								</div>
	    							</div>  

	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Days:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" id="cost" ng-model="newTtask.predecessors" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    								</div>
	    							</div>


	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Points:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" id="street" ng-model="newTtask.resources" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    								</div>
	    							</div>


	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Status:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="text" class="form-control" ng-model="newTtask.risks" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    								</div>
	    							</div>


	    							<div class="form-group">      
	    								<label class="col-md-3">
	    									Resources:
	    								</label>
	    								<div class="col-md-6">
	    									<input type="number" class="form-control" ng-model="newTtask.completed" style="background-color:#FCF5D8;color:#AD8C08;"/>
	    								</div>
	    							</div>

	    							<div class="row text-center">

	    								<button type="submit" class="btn btn-info" ng-click="createTask()">
	    									Save changes
	    								</button>
	    								<button class="btn btn-warning">
	    									Cancel
	    								</button>

	    							</fieldset>
	    						</form> 
	    					</div>
	    				</div>                  
	    			</div>
	    		</div>
			</div>
		</div>
	</div>
</body>

	<script>
		function loginController($scope, $http, $location) {
			$scope.projectPageShow = false;
            $scope.createProjMode  = false;
            $scope.signInPageShow = true;
            $scope.waterfallPageShow = false;
            $scope.scrumPageShow = false;


            //For Waterfall..
            $scope.tasks=[];
        	$scope.visible = [];
        	$scope.waterfallPageShow = false;
        	$scope.waterfallGraph = false;
			// $scope.taskAdd=true;
			$scope.newTtask = {};
			$scope.showMode = false;


        	//For Scrum
        	$scope.userStories = [];
    		$scope.sprints = [];
    		$scope.editbacklog  = false;
    		$scope.visible2 = [];

    		$scope.newStory = {};
    		$scope.showStoryMode = false;
             
             $scope.createproject = function(){
             	$scope.createProjMode  = true;

             }

			$scope.signUp = function() {
				$http({
					method: 'POST',
					url: '/signUp',
					data: { "firstname": $scope.firstName, "password": $scope.password,
					         "lastname" : $scope.lastName, "modeltype":$scope.modelType,
					          "email":$scope.email }	            
				}).success(function(res){	           
					if(res.status == "Success")
					{	     
						alert('user sign up successful!');
					}	            	       
					else
					{
						alert(res.status);
						
					}	            	
				}).error(function(error){
					alert(res.status);
				});
			};
			
			$scope.login = function() {
					
				$http({
					method: 'POST',
					url: '/signIn',
					data: { "email": $scope.inputEmail, "password": $scope.inputPassword }	            
				}).success(function(res){	           
					// alert(JSON.stringify(res));	
					console.log(res);            
					if(res.status == "Success")
					{	     
						console.log('Sending backend call for projects');
						$scope.getProjects(); 
					}	            	       
					else
					{
						alert(res.status);
						
					}	            	
				}).error(function(error){
					alert(res.Status);
				});
			};


			$scope.getProjects = function() {
				$http({
					method: 'GET',
					url: '/getProjects'
				}).success(function(res){	           
					console.log(res);	            
					if(res.status == "Success")
					{	           			
						$scope.projectPageShow = true;
						$scope.signInPageShow  = false;
						$scope.projects = res.projects;
					}	            	       
					else
					{
						alert(res.error);
					}	            	
				}).error(function(error){
					alert(res.Status);
				});
			};

			$scope.selectProject = function(projectName){
				$http({
					method : "POST",
					url : '/selectProject',
					data : {'projectName':projectName}
				}).success(function(res){
					console.log(res);
					console.log(res.modelType);
					if(res.modelType === 'waterfall'){
						$scope.getCustomFeilds()
						$scope.Waterfall(res);
					} else if (res.modelType === 'scrum'){
						$scope.getCustomFeilds()
						$scope.scrumInit(res);
					} else {
						console.log('Its by mistake.. :)');
						window.location = "/loadCards";
					}
				})
			}

			$scope.getCustomFeilds = function(){
				$http({
					method : 'GET',
					url : '/getCustomFields'
				}).success(function(res){
					console.log(res);
					if(res.status === 'Success'){
						$scope.customFields = res.fields;
						console.log('for test..'+$scope.customFields);
						
					}
				})
			}

			$scope.Waterfall = function(res){
				console.log('in scope.Waterfall = function(res){');
				$scope.tasks = res.data[0].tasks;
				$scope.projectPageShow = false;
            	$scope.createProjMode  = false;
            	$scope.signInPageShow = false;
            	$scope.scrumPageShow = false;
            	$scope.waterfallPageShow = true;
            	$scope.showMode = true;
                
                console.log($scope.tasks);
                for(var i=0; i<$scope.tasks.length;i++){
                    $scope.visible[$scope.tasks[i].taskId] = true;
                }
			}

			$scope.addTask = function(){
                $scope.createTaskMode=true;
                $scope.showMode = false;
            }

            $scope.backToShowTasks = function(){
                $scope.createTaskMode=false;
                $scope.showMode = true;
            }

            $scope.createTask = function(){
            	console.log('prnting task data to be saved');
            	console.log($scope.newTtask);
            	$http({
            		method : 'POST',
            		url : 'addTask',
            		data : {'task' : $scope.newTtask}
            	}).success(function(res){
            		console.log(res);
            		if(res.status === 'Success'){
            			console.log('Task cretaed successfully');
            			console.log($scope.tasks);
            			$scope.tasks.push($scope.newTtask);
            			alert('Task creted successfully.');
            			$scope.createTaskMode=false;
                		$scope.showMode = true;
            			$scope.visible[$scope.newTtask.taskId] = true;
            			
            		} else {
            			alert('Sorry Task not created');
            		}
            	})
            }

			$scope.editTask = function(taskId){
            	$scope.visible[taskId]=!$scope.visible[taskId];
        	}

        	$scope.deleteTask = function(task){
        		$http({
                	method : 'POST',
                	url : '/deleteTask',
                	data : {'taskId' : task.taskId}
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	alert('Deleted successfully.');
                    	$scope.tasks.splice($scope.tasks.indexOf(task),1)
                    	$scope.visible[task.taskId]=!$scope.visible[task.taskId];
                	}
            	})
        	}

        	$scope.saveTask = function(task){
            	// task.userId = 'k.praveen@outlook.com';
            	// task.projectName = 'Test1'
            	console.log(task);

            	$http({
                	method : 'PUT',
                	url : '/updateTask',
                	data : task
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	alert('Saved successfully.');
                    	$scope.visible[task.taskId]=!$scope.visible[task.taskId];

                	}
            	})
        	}

			
			$scope.getWaterfallStatus = function()
			{
				$http({
                	method : 'POST',
                	url : '/getWaterfallStatus'
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	window.location = '/projectStatusWaterfall';
                	}
            	})
			}
			
			$scope.getScrumStatus = function()
			{
				$http({
                	method : 'POST',
                	url : '/getScrumStatus'
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	window.location = '/projectStatusScrum';
                	}
            	})
			}
        	//functions for Scrum..
        	$scope.getSprints = function(){
        		$http({
            		method : 'GET',
            		url : '/getSprints'
        		}).success(function(res){
            		console.log('Got response: '+JSON.stringify(res));
            		if(res === undefined || res.status === undefined || res.status === 'Failed') {
                		alert('Unable to laod data.');
            		} else if(res.status === 'Success'){
                		$scope.sprints = res.sprints;
            		}
        		})
        	}

        	$scope.scrumInit = function(res){
				$scope.userStories = res.data[0].userStories;
				$scope.projectPageShow = false;
            	$scope.createProjMode  = false;
            	$scope.signInPageShow = false;
            	$scope.scrumPageShow = true;
            	$scope.waterfallPageShow = false;
        		
                console.log($scope.userStories);
                for(var i=0; i<$scope.userStories.length;i++){
                    $scope.visible2[$scope.userStories[i].id] = true;
                }
                $scope.getSprints();
			}

			$scope.editUserStory = function(id){
            	$scope.visible2[id]=!$scope.visible2[id];
        	}

        	$scope.deleteUserStory = function(story){
            	$http({
                	method : 'POST',
                	url : '/deleteUserstory',
                	data : {'id' : story.id}
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	alert('Deleted successfully.');
                    	$scope.userStories.splice($scope.userStories.indexOf(story),1)
                    	$scope.visible2[story.id]=!$scope.visible2[story.id];
                	}
            	})
        	}

        	$scope.displayWaterfallGraph = function(){
        		$scope.waterfallGraph = true;
        		$scope.createTaskMode = false;
        		$scope.showMode = false;
        	}

        	
        	$scope.createProject = function(){
            	$http({
                	method : 'PUT',
                	url : '/createProject',
                	data : {'projectName':$scope.projectName, 'projectDescription':$scope.projectDescription}
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	alert('Saved successfully.');
                    	$scope.projects.push({projectName:$scope.projectName});
                	}
            	})
        	}

        	$scope.signOut = function(){
            	$http({
                	method : 'POST',
                	url : '/signOut'
                	
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	alert('Successfully Logged Out.');
                    	window.location = '/';
                	}
            	})
        	}


        	$scope.saveStory = function(story){
            	$http({
                	method : 'POST',
                	url : '/updateUserStory',
                	data : {'data':story}
            	}).success(function(res){
                	console.log(res);
                	if(res.status === 'Failed'){
                    	alert(res.error);
                	} else {
                    	alert('Saved successfully.');
                    	$scope.visible2[story.id]=!$scope.visible2[story.id];
                	}
            	})
        	}
    	}


	</script>
</html>